root = true

[*]
end_of_line = LF
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{php,yml,yaml,sh,feature}]
indent_style = space
indent_size = 4

[*.{html.twig,html,json,xml,md,js,less,scss,css,sass}]
indent_style = space
indent_size = 2
